In [3]:
import numpy as np
import pandas as pd
data=pd.read_csv(r"C:\Users\prach\PYTHON J\balanced_dataset.csv")
data.head()

,distance_from_home,distance_from_last_transaction,ratio_to_median_purchase_price,repeat_retailer,used_chip,used_pin_number,online_order,fraud
0,57.877857,0.311140,1.945940,1.0,1.0,0.0,0.0,0.0
1,10.829943,0.175592,1.294219,1.0,0.0,0.0,0.0,0.0
2,5.091079,0.805153,0.427715,1.0,0.0,0.0,1.0,0.0
3,2.247564,5.600044,0.362663,1.0,1.0,0.0,1.0,0.0
4,44.190936,0.566486,2.222767,1.0,1.0,0.0,1.0,0.0

In [5]:
data.describe()

,distance_from_home,distance_from_last_transaction,ratio_to_median_purchase_price,repeat_retailer,used_chip,used_pin_number,online_order,fraud
count,895305.000000,895305.000000,895305.000000,895305.000000,895305.000000,895305.000000,895305.000000,895305.0
mean,19.605104,3.570450,1.322178,0.880147,0.356807,0.108101,0.627744,0.0
std,27.243932,7.479080,1.305352,0.324790,0.479057,0.310508,0.483406,0.0
min,0.004874,0.000118,0.004399,0.000000,0.000000,0.000000,0.000000,0.0
25%,3.786594,0.292040,0.447409,1.000000,0.000000,0.000000,0.000000,0.0
50%,9.532355,0.976170,0.906557,1.000000,0.000000,0.000000,1.000000,0.0
75%,23.541791,3.215007,1.764403,1.000000,1.000000,0.000000,1.000000,0.0
max,222.753135,82.561946,10.221152,1.000000,1.000000,1.000000,1.000000,0.0

In [7]:
data.isnull()

,distance_from_home,distance_from_last_transaction,ratio_to_median_purchase_price,repeat_retailer,used_chip,used_pin_number,online_order,fraud
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
895300,False,False,False,False,False,False,False,False
895301,False,False,False,False,False,False,False,False
895302,False,False,False,False,False,False,False,False
895303,False,False,False,False,False,False,False,False
895304,False,False,False,False,False,False,False,False

In [9]:
data.isnull().sum()

distance_from_home                0
distance_from_last_transaction    0
ratio_to_median_purchase_price    0
repeat_retailer                   0
used_chip                         0
used_pin_number                   0
online_order                      0
fraud                             0
dtype: int64

In [11]:
data.dropna()

,distance_from_home,distance_from_last_transaction,ratio_to_median_purchase_price,repeat_retailer,used_chip,used_pin_number,online_order,fraud
0,57.877857,0.311140,1.945940,1.0,1.0,0.0,0.0,0.0
1,10.829943,0.175592,1.294219,1.0,0.0,0.0,0.0,0.0
2,5.091079,0.805153,0.427715,1.0,0.0,0.0,1.0,0.0
3,2.247564,5.600044,0.362663,1.0,1.0,0.0,1.0,0.0
4,44.190936,0.566486,2.222767,1.0,1.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...
895300,2.207101,0.112651,1.626798,1.0,1.0,0.0,0.0,0.0
895301,19.872726,2.683904,2.778303,1.0,1.0,0.0,0.0,0.0
895302,2.914857,1.472687,0.218075,1.0,1.0,0.0,1.0,0.0
895303,4.258729,0.242023,0.475822,1.0,0.0,0.0,1.0,0.0
895304,58.108125,0.318110,0.386920,1.0,1.0,0.0,1.0,0.0

In [21]:
df=data.mean()
print(df)

distance_from_home                19.605104
distance_from_last_transaction     3.570450
ratio_to_median_purchase_price     1.322178
repeat_retailer                    0.880147
used_chip                          0.356807
used_pin_number                    0.108101
online_order                       0.627744
fraud                              0.000000
dtype: float64

In [15]:
print(data.median())

distance_from_home                9.532355
distance_from_last_transaction    0.976170
ratio_to_median_purchase_price    0.906557
repeat_retailer                   1.000000
used_chip                         0.000000
used_pin_number                   0.000000
online_order                      1.000000
fraud                             0.000000
dtype: float64

In [17]:
print(data.mode())

        distance_from_home  distance_from_last_transaction  \
0                 0.004874                        0.000118
1                 0.021322                        0.000298
2                 0.022599                        0.000319
3                 0.024144                        0.000338
4                 0.024461                        0.000342
...                    ...                             ...
895300          222.720878                       82.503000
895301          222.722505                       82.511310
895302          222.732784                       82.513233
895303          222.741913                       82.527361
895304          222.753135                       82.561946

        ratio_to_median_purchase_price  repeat_retailer  used_chip  \
0                             0.004399              1.0        0.0
1                             0.005741              NaN        NaN
2                             0.006125              NaN        NaN
3                             0.007278              NaN        NaN
4                             0.007370              NaN        NaN
...                                ...              ...        ...
895300                       10.218359              NaN        NaN
895301                       10.219502              NaN        NaN
895302                       10.219532              NaN        NaN
895303                       10.220760              NaN        NaN
895304                       10.221152              NaN        NaN

        used_pin_number  online_order  fraud
0                   0.0           1.0    0.0
1                   NaN           NaN    NaN
2                   NaN           NaN    NaN
3                   NaN           NaN    NaN
4                   NaN           NaN    NaN
...                 ...           ...    ...
895300              NaN           NaN    NaN
895301              NaN           NaN    NaN
895302              NaN           NaN    NaN
895303              NaN           NaN    NaN
895304              NaN           NaN    NaN

[895305 rows x 8 columns]

In [23]:
filtered_data=data[data["ratio_to_median_purchase_price"]>1]
print("Filtered data where it is greater than 1:")
print(filtered_data.head())

Filtered data where it is greater than 1:
   distance_from_home  distance_from_last_transaction  \
0           57.877857                        0.311140
1           10.829943                        0.175592
4           44.190936                        0.566486
7            4.848247                        0.320735
8            0.876632                        2.503609

   ratio_to_median_purchase_price  repeat_retailer  used_chip  \
0                        1.945940              1.0        1.0
1                        1.294219              1.0        0.0
4                        2.222767              1.0        1.0
7                        1.273050              1.0        0.0
8                        1.516999              0.0        0.0

   used_pin_number  online_order  fraud
0              0.0           0.0    0.0
1              0.0           0.0    0.0
4              0.0           1.0    0.0
7              1.0           0.0    0.0
8              0.0           0.0    0.0

In [5]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
data={'Color':['Red','Blue','Green','Blue','Red']}
df4=pd.DataFrame(data)
print("Original data")
print(df4)
#Apply label encoding
le=LabelEncoder()
df4['Color_encoded']=le.fit_transform(df4['Color'])
print("After label encoding")
print(df4)

Original data
   Color
0    Red
1   Blue
2  Green
3   Blue
4    Red
After label encoding
   Color  Color_encoded
0    Red              2
1   Blue              0
2  Green              1
3   Blue              0
4    Red              2

In [9]:
#Apply one hot encoding
df4_encoded=pd.get_dummies(df4,columns=['Color'],dtype=int)
print("After One-Hot Encoding")
print(df4_encoded)

After One-Hot Encoding
   Color_encoded  Color_Blue  Color_Green  Color_Red
0              2           0            0          1
1              0           1            0          0
2              1           0            1          0
3              0           1            0          0
4              2           0            0          1