In [12]:
import pandas as pd
df=pd.read_csv('insurance.csv')
print(df.head())

   index  age     sex     bmi  children smoker     region      charges
0      0   19  female  27.900         0    yes  southwest  16884.92400
1      1   18    male  33.770         1     no  southeast   1725.55230
2      2   28    male  33.000         3     no  southeast   4449.46200
3      3   33    male  22.705         0     no  northwest  21984.47061
4      4   32    male  28.880         0     no  northwest   3866.85520

In [13]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
df['sex_encoded'] = le.fit_transform(df['sex'])
print(df[['sex_encoded']])

      sex_encoded
0               0
1               1
2               1
3               1
4               1
...           ...
1333            1
1334            0
1335            0
1336            0
1337            0

[1338 rows x 1 columns]

In [14]:
df_onehot = pd.get_dummies(df, columns=['sex'])
df_onehot.head()

,index,age,bmi,children,smoker,region,charges,sex_encoded,sex_female,sex_male
0,0,19,27.900,0,yes,southwest,16884.92400,0,True,False
1,1,18,33.770,1,no,southeast,1725.55230,1,False,True
2,2,28,33.000,3,no,southeast,4449.46200,1,False,True
3,3,33,22.705,0,no,northwest,21984.47061,1,False,True
4,4,32,28.880,0,no,northwest,3866.85520,1,False,True