In [6]:
df.describe()

NameError: name 'df' is not defined

In [1]:
df.shape

NameError: name 'df' is not defined

In [1]:
import pandas as pd
df=pd.read_csv("C:\\Users\\hp\\Downloads\\Data.csv")
df.shape
df.columns

Index(['Country', 'Age', 'Salary', 'Purchased'], dtype='object')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Country    10 non-null     object
 1   Age        9 non-null      float64
 2   Salary     9 non-null      float64
 3   Purchased  10 non-null     object
dtypes: float64(2), object(2)
memory usage: 452.0+ bytes