In [1]:
import pandas as pd
import numpy as np
df=pd.read_csv("C:\\Users\\hp\\Documents\\Python\\insurance.csv")
df.head()

   index  age     sex     bmi  children smoker     region      charges
0      0   19  female  27.900         0    yes  southwest  16884.92400
1      1   18    male  33.770         1     no  southeast   1725.55230
2      2   28    male  33.000         3     no  southeast   4449.46200
3      3   33    male  22.705         0     no  northwest  21984.47061
4      4   32    male  28.880         0     no  northwest   3866.85520

In [2]:
from sklearn.model_selection import train_test_split
X_train,y_train,X_test,y_test=train_test_split(df.drop('charges',axis=1),df['charges'],test_size=0.2,random_state=42)

In [3]:
X_train

      index  age     sex     bmi  children smoker     region
560     560   46  female  19.950         2     no  northwest
1285   1285   47  female  24.320         0     no  northeast
1142   1142   52  female  24.860         0     no  southeast
969     969   39  female  34.320         5     no  southeast
486     486   54  female  21.470         3     no  northwest
...     ...  ...     ...     ...       ...    ...        ...
1095   1095   18  female  31.350         4     no  northeast
1130   1130   39  female  23.870         5     no  southeast
1294   1294   58    male  25.175         0     no  northeast
860     860   37  female  47.600         2    yes  southwest
1126   1126   55    male  29.900         0     no  southwest

[1070 rows x 7 columns]

In [4]:
y_train

      index  age     sex     bmi  children smoker     region
764     764   45  female  25.175         2     no  northeast
887     887   36  female  30.020         0     no  northwest
890     890   64  female  26.885         0    yes  northwest
1293   1293   46    male  25.745         3     no  northwest
259     259   19    male  31.920         0    yes  northwest
...     ...  ...     ...     ...       ...    ...        ...
109     109   63    male  35.090         0    yes  southeast
575     575   58  female  27.170         0     no  northwest
535     535   38    male  28.025         1     no  northeast
543     543   54  female  47.410         0    yes  southeast
846     846   51  female  34.200         1     no  southwest

[268 rows x 7 columns]

In [5]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
X_train['sex']=le.fit_transform(X_train['sex'])
X_train['smoker']=le.fit_transform(X_train['smoker'])  
X_train.head()

      index  age  sex    bmi  children  smoker     region
560     560   46    0  19.95         2       0  northwest
1285   1285   47    0  24.32         0       0  northeast
1142   1142   52    0  24.86         0       0  southeast
969     969   39    0  34.32         5       0  southeast
486     486   54    0  21.47         3       0  northwest

one hot encoding
One-Hot Encoding converts categories into binary columns.

In [10]:
X_train_onehot=pd.get_dummies(X_train,columns=['region'],drop_first=True)
X_train_onehot.head()

,index,age,sex,bmi,children,smoker,region_northwest,region_southeast,region_southwest
560,560,46,0,19.95,2,0,True,False,False
1285,1285,47,0,24.32,0,0,False,False,False
1142,1142,52,0,24.86,0,0,False,True,False
969,969,39,0,34.32,5,0,False,True,False
486,486,54,0,21.47,3,0,True,False,False